body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: max-content;
    overflow-y: auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
h2 {
    color: #64bc46;
}
.input-group {
    display: flex;
    margin-bottom: 10px;
}
.input-group input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
.input-group button {
    margin-left: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #eee;
    cursor: pointer;
}
.table-container {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ccc;
}

tr.optional {
    background-color: #f2f2f2;
}
th, td {
    padding: 10px;
    text-align: left;
    max-width: 100px;
    word-wrap: break-word;
}
th {
    background-color: #64bc46;
    color: #fff;
}

td[data-param] input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.checkmark {
    color: green;
}
.cross {
    color: red;
}
.response-results {
    margin-bottom: 10px;
}
.response-results h4 {
    color: #64bc46;
}
.response-results table {
    width: 100%;
    border-collapse: collapse;
}
.response-results th, .response-results td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.response-results th {
    background-color: #64bc46;
    color: #fff;
}
.response-results td {
    background-color: #fff;
}
.copy-btn {
    background-color: #64bc46;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
.copy-btn:hover {
    background-color: #57a63e;
}
.output-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.output-box {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    overflow-x: auto;
    white-space: nowrap;
}
.reload-btn {
    background-color: #64bc46;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}
.reload-btn:hover {
    background-color: #57a63e;
}
